video::-webkit-media-controls-play-button{
    background-color: pink;
    border-radius: 50%;
}
video::-webkit-media-controls-mute-button{
    background-color: pink;
    border-radius: 50%;
}
video::-webkit-media-controls-timeline{
    background-color: pink;
    padding: 5px;
}
video::-webkit-media-controls-current-time-display{
    color: lightblue;
}
video::-webkit-media-controls-time-remaining-display{
    color: lightblue;
}
video::-webkit-media-controls-fullscreen-button{
    background-color: pink;
    border-radius: 50%;
}